@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body {
    background-color: #291c0e;
}
.shopParent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4%;
    width: 100%;
}
.shopItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #e1d4c2;
    border-radius: 8px;
    width: 20%;
    height: auto;
    margin-bottom: 5rem;
}
.itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopItem label {
    color : #291c0e;
    padding: 0.4rem;
}
#itemName {
    font-size: 1.5rem;
}
#itemPrice {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0;
}
.btn {
    
    font-size: 1rem;
    color: #e1d4c2;
    background-color: #291c0e;
    outline: none;
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    
}
.btn:hover {
    background-color: #171008;
}
.btn.disabled {
    font-size: 1rem;
    color: #575249;
    background-color: #100a05;
    outline: none;
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: not-allowed;
    text-decoration: line-through;
    transition: 0.3s ease;
  }
.shopItem img {
    width: 100%;
    height: 15rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.available {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #1f150b;
    border-radius: 50%;
}
.not-available {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #ff3e18;
    border-radius: 50%;
}
.upSection {
    display: flex;
    justify-content: center;
}
.sort-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5%;
    gap: 1rem;
}
.sort-container select {
    font-family: "Inter", sans-serif;
    background-color: #e1d4c2;
    color: #1f150b;
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
}
#sortSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 6px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548a.5.5 0 0 1 .707 0L10 11.325l3.777-3.777a.5.5 0 1 1 .707.707l-4.131 4.131a.5.5 0 0 1-.707 0L5.516 8.255a.5.5 0 0 1 0-.707z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;

  }

#searchInput {
    font-family: "Inter", sans-serif;
    background-color: #e1d4c2;
    color: #1f150b;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
}
input::placeholder {
    font-size: 0.8rem;
    color: #1f150b;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #e1d4c2;
    margin-top: 5%;
    margin-bottom: 5%;
}
.bottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.deleteContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.deleteContainer input {
    font-family: "Inter", sans-serif;
    background-color: #e1d4c2;
    color: #1f150b;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
}
.deleteContainer button {
    font-family: "Inter", sans-serif;
    background-color: #e1d4c2;
    color: #1f150b;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.deleteContainer button:hover {
    background-color: #171008;
    color: #e1d4c2;
    transition: 0.3s ease;
}
@media (max-width: 768px) {
    .shopParent {
        flex-direction: column;
        align-items: center;
    }
    .shopItem {
        width: 60%;
        height: auto;
        font-size: 0.8rem;
    }
    .upSection {
        flex-direction: column;
        align-items: center;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 480px) {
    .shopItem {
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 1500px) {
    .shopItem {
        width: 40%;
    }
    .shopItem #itemName {
        font-size: 1.5rem;
    }
    .shopItem #itemPrice {
        font-size: 1.2rem;
    }
    .shopItem #itemDescription {
        font-size: 0.8rem;
    }
    .shopItem #itemImage {
        width: 100%;
        height: 10rem;
}
}